* {
    box-sizing: border-box;
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: lightblue;
}

.counter__block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter__elem {
    flex: 0 1 33.333%;
}

.minus, .plus {
    display: flex;
    align-items: center;
    justify-content: center;

    color: cornflowerblue;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;
    text-shadow: 0 2px 3px #1c1c1c;
    font-family: Rubik,sans-serif;
    font-weight: bold;
}

.minus:hover, .plus:hover {
    opacity: 1;
}

.minus:active, .plus:active {
    text-shadow: 0 1px 0 #1c1c1c;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 70px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    text-align: center;
    color: gold;
    text-shadow: 0 2px 3px #1c1c1c;
    background-color: cornflowerblue;
    box-shadow: inset 1px 1px 4px #1c1c1c;
    border: none;
    outline: none;
    margin: 40px;
    font-family: Rubik,sans-serif;
    font-weight: bold;
}

::selection {
    background: lightblue;
}

/*прибираємо стрілки в type="number"*/
/*в Chrome*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*в Mozilla*/
input[type="number"] {
    -moz-appearance: textfield;
}


@media (max-width: 555px) {
    .counter__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .counter__form {
        display: flex;
        flex: 0 1 100%;
        justify-content: center;
    }

    .minus {
        flex: 0 1 50%;
        order: 2;
        font-size: 100px;
    }

    .plus {
        flex: 0 1 50%;
        order: 3;
        font-size: 100px;
    }
}